$color-black-blue: #42567A;
$color-light-blue: #3877EE;
$color-pink: #F178B6;
$color-lines: #C7CDD9;
$color-bg: #F4F5F9;
$color-white: #FFFFFF;

$font-pt-sans: var(--font-pt-sans);
$font-bebas-neue: var(--font-bebas-neue);

$bp-desktop: 1280px;
$bp-large-screen: 1536px;
